* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* Header */

header {
    width: 100%;
    background-color: #ff6900;
    padding: 10px 0px;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.49);
    position: fixed;
    top: 0px;
    z-index: 1;
}

.contenitore {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 10%;
    padding: 10px;
}


header li {
    list-style: none;
    flex-direction: row;
    padding: 0 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}


/* Main */

main {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.flex {
    display: flex;
    margin-top: 50px;
}

.colonna {
    width: calc(100% - 10px/ 3);
    position: relative;
    cursor: pointer;
}

.colonna img {
    width: 100%;
    padding: 0 5px;
}

.wishlist {
    font-size: 35px;
    background-color: white;
    text-align: center;
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    width: 40px;
    height: 40px;
}

.colonna:hover .wishlist {
    color: red;
}

.sconto {
    background-color: red;
    display: block;
    position: absolute;
    bottom: 90px;
    left: 5px;
    width: 50px;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 3px;
    font-weight: 600;
}

.bollino,
.bollino2 {
    background-color: green;
    display: block;
    position: absolute;
    bottom: 90px;
    width: 100px;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 3px;
    font-weight: 500;
}

.bollino {
    left: 60px;
}

.bollino2 {
    left: 5px;
}

.prodotto {
    display: none;
    width: 100%;
}

.colonna:hover .prodotto {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.info {
    padding: 0px 5px;
}

.nome-brand,
.prezzo {
    font-size: 12px;
}

h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.prezzo {
    color: red;
    font-weight: 600;
}

.sconto-prezzo {
    font-weight: 500;
    color: black;
    text-decoration: line-through;
}


/* Footer */

footer {
    background-color: black;
    width: 100%;
}

.footer-contenitore {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0px;
    margin-top: 50px;
}

.social li {
    color: white;
    list-style: none;
    display: inline-block;
    font-size: 12px;
    padding-right: 5px;
}

h3,
h4 {
    color: white;
    font-weight: 600;
}

h3 {
    font-size: 14px;
    text-transform: normal;
}

h4 {
    font-size: 12px;
    padding-bottom: 10px;
}

footer a:hover {
    color: #ff6900;
}